
<%- include("partial/header"); -%>
<h1>Contact Us</h1>
<p><%= contact %></p>
<div class="contact-details">
   <ul>
   <li><p>For any inquiries, please email us at <a href="mailto:dheerapsinghtanwar360@gmail.com">dheerapsinghtanwar360@gmail.com</a> or connect With Us on <a href="https://www.linkedin.com/in/your-linkedin-profile-url/">LinkedIn</a></p></li>
   
   </ul> 
  </div>
  
<%- include("partial/footer"); -%>